
{% extends 'navbar_loan.html' %}
{% block nav_items %}
{% load static %}
    <div>
    <style>
        * {
          box-sizing: border-box;
        }



        /* Float four columns side by side */
        .column {
          float: left;
          width: 25%;
          padding: 0 10px;
        }
        
        /* Remove extra left and right margins, due to padding */
        .row {margin: 0 -5px;}
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        
        /* Responsive columns */
        @media screen and (max-width: 600px) {
          .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
          }
        }
        
        /* Style the counter cards */
        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          padding: 16px;
          text-align: center;
          background-color: #f1f1f1;
        }
        </style>
        <style>
          img {
            border-radius: 50%;
          }
          </style>
    </div >
<div class="container">
    <h2 style="text-align: center; color:rgb(44, 44, 235)">I need a personal loan for</h2>
    <div class="row">
        <div class="column">
          <div class="card">
              <img src="{% static 'assets/img/feature/getting-married-for-whitebg.svg' %}" width="55" height="55" alt="getting-married-for-whitebg">
            <h3>Wedding in the family</h3>
            <p>Our marriage loans take the stress off so you can enjoy family marriages </p>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="{% static 'assets/img/feature/holidays-for-whitebg.svg' %}" width="55" height="55" alt="holidays-for-whitebg">
            <h3>Dream Vacation</h3>
            <p>Fund your dream holiday to exotic places with our quick and easy personal loans for travel</p>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img src="{% static 'assets/img/feature/protect-myself.svg' %}" width="55" height="55" alt="protect-myself">
            <h3>Medical Expenses</h3>
            <p>Manage unforeseen medical emergencies of loved ones with our instant personal loans</p>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img src="{% static 'assets/img/feature/Home-renovation.svg' %}" width="55" height="55" alt="Home-renovation">
            <h3>Home Renovation</h3>
            <p>Repair, refurnish and upgrade your home to a dream home, with our personal loans</p>
          </div>
        </div>
      </div>
      <br><br>
      <hr>
      <h2 style="text-align: center;color:rgb(44, 44, 235)">Manage your immediate financial needs with our personal loans</h2>
      <p style="text-align: center;">From planning a big event to facing an unexpected expense, we have a solution to your planned/ unplanned expenditures with our personal loans. <br>Simply apply for a personal loan online from the comfort of your home or office and get quick loan disbursal with a seamless experience.</p>

      <div class="column">
        <div class="card">
          <img src="{% static 'assets/img/feature/instant-personal-loan.svg' %}" width="55" height="55" alt="Loan Disbursal Amount">
          <h3>Loan Disbursal Amount</h3>
          <p>Avail a loan amount from Rs.50,000 up to Rs.25 Lakhs with flexible tenures ranging from 1 to 5 years </p>

        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="{% static 'assets/img/feature/advisor.svg' %}" width="55" height="55" alt="Efficient customer service">
          <h3>Efficient customer service</h3>
          <p>To ensure a hassle free experience with minimal personal loan documentation and quick turnaround time </p>

        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="{% static 'assets/img/feature/functionality-offers.svg' %}" width="55" height="55" alt="Attractive Interest Rates">
          <h3>Attractive Interest Rates</h3>
          <p>Making our personal loans more affordable and convenient than ever. ROI as starting from 10.25% p.a. onwards  </p>

        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="{% static 'assets/img/feature/3-clock.svg' %}" width="55" height="55" alt="Personal Loan in 3 seconds*">
          <h3>Personal Loan in 3 seconds*</h3>
          <p>Get your funds disbursed in your account with a few clicks for all your personal needs </p>

        </div>
      </div>
</div>
    {% endblock nav_items %}

      
      

